* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.main {
  background-image: url(../images/header.png);
  color: #ec5242;
  background-size: cover;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;

  /* margin-left: 15rem; */
  padding-top: 10rem;
  padding-bottom: 13rem;
  align-items: center;
  gap: 1em;
}

.content h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.content h2 {
  font-size: 3rem;
  font-weight: bold;
}

.inner-content {
  border: 2px solid #e9ecef;
  width: 60%;
  background-color: white;
  color: #0000008a;
  font-size: 17px;
  line-height: 1.8rem;
}

.inner-content p {
  padding: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.header-upper {
  background-color: #252629;
  width: 100%;
  text-align: right;
}

.header-upper ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10rem;
}

.header-upper li {
  list-style: none;
  display: inline;
  padding: 0.6rem;
}

.nav-link {
  margin-right: 10%;
  text-align: center;
  padding: 1.5rem 1rem;
}

.nav-link #aboutit {
  color: #ec5242;
}

.link {
  list-style: none;
  display: inline;
  padding: 2rem;
}

.header-upper a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.inner-content-bottom {
  padding-top: 2rem;
  line-height: 2rem;
}

.inner-content-bottom h3 {
  color: #000000a6;
  font-size: 1.5rem;
  font-weight: bold;
}

.under-line {
  width: 7%;
  margin: 1em auto;
  background-color: #ec5242;
  height: 0.1rem;
}

.inner-content-bottom .under-line {
  width: 37%;
  margin: auto;
  background-color: grey;
  height: 0.13rem;
}

.inner-content-bottom p {
  color: #0000008a;
  font-size: 1.4rem;
  font-weight: bold;
}

nav {
  display: flex;
  width: 100%;
}

.logo {
  margin-left: 15rem;
}

.logo img {
  width: 9em;
  margin-top: 0.7rem;
}

.link a {
  text-decoration: none;
  color: #a09c9c;
  font-size: 18px;
  font-weight: 600;
}

.menu-items {
  display: inherit;
  width: 100%;
  justify-content: right;
}

.header-button {
  margin-right: 8%;
  padding: 1em;
}

.header-button button {
  padding: 0.5em;
  font-size: 18px;
  font-weight: 800;
  color: #ec5242;
  border: 4px solid #ec5242;
}

.main-program {
  background-image: url(../images/main-program-bg.png);
  background-color: #272a31;
  color: #ffffffb5;
  text-align: center;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-program h4 {
  font-size: 2rem;
  border-width: 0.4rem;
}

.main-program a {
  text-decoration: none;
  color: #ffffffb5;
  font-size: 18px;
  word-spacing: 0.2rem;
  border-bottom: 2px solid #ffffffb5;
}

.program {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 16px;
  padding: 2rem;
}

.program-type {
  background: #7a7c8142;
  padding: 1rem;
}

.program-type h5 {
  color: #ec5242;
  font-size: 26px;
  font-weight: bold;
  padding: 0.5rem 0;
}

.program-type p {
  color: #ffffffb5;
  padding: 0.3rem;
}

.featured-speakers {
  text-align: center;
  margin: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.featured-speakers h2 {
  font-size: 2rem;
  font-weight: bold;
}

.featured-speakers img {
  width: 90%;
}

.featured-speakers p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: 400;
}

.summits {
  display: flex;
  gap: 3%;
  margin: 5% 3%;
  justify-content: center;
  width: 94%;
}

.summit-img {
  width: 80%;
}

.featured-speakers .under-line {
  width: 4%;
}

.speaker-content .under-line {
  margin: 0;
  background-color: #d8cfcf;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.footer-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
  background-color: rgb(65, 66, 70);
}

.footer-top-heading {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  color: rgb(127, 127, 127);
}

.footer-top-heading h3 {
  font-size: 32px;
  font-weight: 700;
}

.footer-top-heading .under-line {
  width: 3%;
  margin-top: 1.5rem;
}

.partners {
  flex-direction: row;
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-bottom: 4rem;
}

.partners img {
  width: 10rem;
}

.footer-bottom-section {
  background-color: rgb(242, 242, 242);
}

.footer-bottom-section-about {
  background-color: rgb(46, 46, 46);
  color: white;
}

.footer-bottom {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.footer-bottom-content {
  text-align: left;
  margin: 5% 2%;
}

.footer-bottom-content h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 2rem;
}

.footer-bottom-content p {
  font-size: 14px;
  font-weight: 500;
}

.footer-bottom-logo img {
  width: 85%;
  margin-left: 15%;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header,
  .content-hide {
    display: none;
  }

  .main {
    background-image: url(../images/mobile-home.png);
    background-size: cover;
    background-position: center;
  }

  .hamburger {
    display: block;
    position: absolute;
    padding: 7% 11%;
  }

  .hamburger img {
    width: 52%;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding-top: 20%;
    padding-bottom: 16%;
    gap: 1em;
  }

  .content h2 {
    font-size: 3rem;
    font-weight: bold;
  }

  .about-content-logo {
    width: 100%;
  }

  .about-content-logo img {
    width: 100%;
  }

  .inner-content {
    border: 1px solid grey;
    width: 95%;
    padding: 0.8rem;
    color: #0000008a;
    font-size: 22px;
    line-height: 2.4rem;
    text-align: center;
    background-color: white;
  }

  .inner-content p {
    padding: 1.2rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  .inner-content-bottom p {
    color: #00000094;
    font-size: 1.3rem;
    line-height: 2.5rem;
    padding: 1rem 2rem;
  }

  .inner-content-bottom {
    padding-top: 1rem;
    line-height: 4rem;
  }

  .inner-content-bottom h3 {
    font-size: 24px;
    margin-bottom: 0;
  }

  .featured-speakers .under-line {
    width: 7%;
  }

  .featured-speakers p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 600;
  }

  .program {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
    padding: 2rem;
  }

  .main-program {
    padding: 0;
  }

  .main-program h4 {
    margin-top: 3rem;
  }

  .featured-speakers h2 {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
  }

  .program-type {
    display: grid;
    grid-template-columns: 15% 20% 60%;
    gap: 0.7rem;
    background: #7a7c8142;
    padding: 1rem;
    align-items: center;
    text-align: left;
  }

  .program-type img {
    width: 5rem;
  }

  .program-type h5 {
    line-height: 2.2rem;
  }

  .join-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .join-button button {
    width: 75%;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: #ec5342;
    border: 1px;
  }

  .program-check {
    display: none;
  }

  .speakers {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    margin: 0;
  }

  .speakers-profile {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 75%;
    gap: 1rem;
    padding: 1rem;
  }

  .more-button {
    border: 2px solid #7a7c8142;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    margin: 2rem 0;
  }

  .summits {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 0%;
    width: 100%;
  }

  .summit-img {
    width: 100%;
  }

  .summit-img img {
    width: 100%;
  }

  .more-button .fa {
    color: #ec5242;
    font-weight: bold;
  }

  .inner-content-bottom .under-line {
    width: 44%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .nav-link {
    margin-right: 0;
    padding: 3% 0;
  }

  .link {
    padding: 1rem;
  }

  .link a {
    font-size: 14px;
    font-weight: 600;
  }

  .header-button {
    padding: 2%;
    margin-right: 10%;
  }

  .program {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 16px;
    padding: 2rem 1rem;
    margin: 0;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .main-program {
    padding: 4rem 2rem;
  }

  .program-type {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .nav-link {
    width: 100%;
    margin-right: 0;
    padding: 3% 0;
  }

  .menu-items {
    justify-content: left;
  }

  .link {
    padding: 3%;
  }

  .link a {
    font-size: 14px;
    font-weight: 600;
  }

  .logo {
    margin-left: 11%;
  }

  .header-button {
    padding: 3%;
    margin-right: 5%;
    width: 40%;
    text-align: center;
  }

  .header-button button {
    padding: 2%;
    font-size: 13px;
  }

  .main-program {
    padding: 4rem 2rem;
  }

  .program {
    padding: 2rem 1rem;
  }

  .program-type {
    padding: 0;
  }

  .summits {
    gap: 2%;
    margin: 2%;
    align-items: center;
  }

  .summit-img {
    width: 80%;
  }

  .summit-img img {
    width: 100%;
    height: auto;
  }

  .footer-bottom-logo img {
    width: 90%;
    margin-left: 10%;
  }

  .inner-content-bottom .under-line {
    width: 37%;
  }
}
